NumPy merupakan salah satu library Python yang banyak digunakan dalam proses analisis data karena fiturnya yang hebat.

NumPy hampir menyerupai List pada Python tetapi lebih powerful. Ada beberapa kelebihan NumPy dibandingan List seperti size, performance, dan functionally.

Struktur data NumPy lebih membutuhkan ukuran yang lebih kecil dibandingkan dengan list tetapi mempunyai performa yang lebih cepat.

Sebelum menggunakan NumPy di Python, terlebih dahulu library ini harus diimport

In [1]:
import numpy as np

Jika belum ada Numpy dapat diinstall terlebih dahulu menggunakan pip

pip install numpy

## **Membuat Array NumPy**

Kita bisa membuat Array menggunakan NumPy dengan membungkusnya terlebih dahulu di List dan dirubah menjadi NumPy array.

In [2]:
listku = [1,2,3,4,5]
arrku = np.array([listku])
arrku

array([[1, 2, 3, 4, 5]])

In [4]:
# atau langsung tanpa membuat variabel list terlebih dahulu

arrku = np.array([1,2,3,4,5])
arrku

array([1, 2, 3, 4, 5])

Ada beberapa fungsi lagi yang dapat digunakan dalam membuat array antara lain zeros(), ones(), linspace(), logspace().

zeros() -> Membuat array dengan nilai 0
ones() -> Membuat array dengan nilai 1
arange() -> Membuat array dengan nilai dalam range
linspace() -> Membuat array dengan nilai dalam interval
logspace() -> Membuat array dengan nilai log Base10 dalam interval

Berikut contohnya

In [8]:
np.zeros(5) # Membuat array dengan nilai 0 sebanyak 5

array([0., 0., 0., 0., 0.])

In [9]:
np.ones(5) # Membuat array dengan nilai 1 sebanyak 5

array([1., 1., 1., 1., 1.])

In [10]:
np.arange(1, 10, 2) # arrange(start, stop, step)

array([1, 3, 5, 7, 9])

In [11]:
np.linspace(1, 10, 2) # linespace(sstart, stop, number)

array([ 1., 10.])

In [12]:
np.logspace(1, 10, 2) # logspace(start, stop, number)

array([1.e+01, 1.e+10])

## **Multidimensional Array**

Salah satu fitur menarik NumPy adalah dia mampu membuat multidimensional array dan melakukan manipulasi array dengan mudah dan cepat.

Multidimensional array adalah array yang berbentuk lebih dari 1 dimensi (1D), bisa 2D, 3D, 4D dan seterusnya.

Cara membuat multidimensional array sama dengan membuat array 1 dimensi, perbedaannya hanya pada parameter yang digunakan.

Berikut contohnya membuat array 2 dimensi.

In [16]:
arrku = np.array([[1,2,3,4,5],[2,4,6,8,10]])
arrku

array([[ 1,  2,  3,  4,  5],
       [ 2,  4,  6,  8, 10]])

Array di atas adalah berbentuk (2,5) artinya mempunyai 2 baris dan 5 kolom. Kita bisa melihat jumlah elemen di setiap dimensi dengan menggunakan shape.

In [15]:
arrku.shape

(2, 5)

## **Indexing dan Slicing**

Kita juga dapat melakukan indexing dan slicing terhadap array dengan mudah.

Indexing dimulai dari 0 dan dimulai dengan notasi bracket "[]"

Misal kita ingin mencari nilai yang berbeda di index 0, 2, dan 4.

In [17]:
arr_A = np.array([1,2,3,4,5])
print(arr_A[0])
print(arr_A[2])
print(arr_A[4])

1
3
5

Untuk mengambil nilai berderet tambahkan ":"

In [18]:
arr_A = np.array([1,2,3,4,5])
print(arr_A[0:4])

[1 2 3 4]

In [19]:
# Kita juga dapat melakukan slicing di multidimensional array

arr_A = np.array([[1,2,3,4,5], [2,4,6,8,10]])
print(arr_A)
print(arr_A[1,1])

[[ 1  2  3  4  5]
 [ 2  4  6  8 10]]
4

Nilai pada kolom index ke-1 dan baris index ke-1 adalah 4

## **Operasi Aritmatika**

Kita bisa menggunakan operasi aritmatika seperti penjumlahan, pengurangan, perkalian, pembagian dan perpangkatan.

Operator yang digunakan adalah +, -, *, / dan **

Berikut contoh operasi aritmatika pada array

In [22]:
arr_A = np.array([1,2,3,4,5])
arr_B = np.array([2,2,2,2,2])

print("Penjumlahan = ", arr_A + arr_B)
print("Pengurangan = ", arr_A - arr_B)
print("Perkalian = ", arr_A * arr_B)
print("Pembagian = ", arr_A / arr_B)
#print{"Perpangkatan = ", arr_A ** arr_B}

Penjumlahan =  [3 4 5 6 7]
Pengurangan =  [-1  0  1  2  3]
Perkalian =  [ 2  4  6  8 10]
Pembagian =  [0.5 1.  1.5 2.  2.5]

## **Operasi Matematika**

NumPy mempunyai fungsi matematika yang dapat digunakan pada Array

Beberapa contoh fungsi statistik antara lain min(), max(), mean(), sum(), std()

In [23]:
arrku = np.array([1,2,3,4,5])
print("Nilai minimal = ", arrku.min())
print("Nilai maksimal = ", arrku.max())
print("Nilai rata-rata = ", arrku.mean())
print("Total nilai = ", arrku.sum())
print("Standar Deviasi = ", arrku.std())

Nilai minimal =  1
Nilai maksimal =  5
Nilai rata-rata =  3.0
Total nilai =  15
Standar Deviasi =  1.4142135623730951

In [24]:
# ada juga fungsi argmin() dan argmax() untuk mendapatkan index dari nilai minimum dan maksimum
print("Index nilai minimal = ", arrku.argmin())
print("Index nilai maksimal = ", arrku.argmax())

Index nilai minimal =  0
Index nilai maksimal =  4

Sumber https://ngodingdata.com/tutorial-dasar-numpy-python/